<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title></title> <!-- save your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">

    <div class="col-md-6">

        <h1>Yard Info</h1>

        <p th:text="${yard.yardName}">name</p>

        <p th:text="${yard.status}">status</p>

        <p> Key/Combo: <span th:text="${yard.combo}">combo </span> </p>

        <p th:text="${yard.address}">address</p>

        <p th:text="${yard.accessNotes}">access location</p>

        <p> Max Hive Capacity:  <span th:text="${yard.maxHives}">status</span></p>
    </div>

    <div class="col-md-6">
        <h1>Yard Owner</h1>

        <p><a th:text="${yard.owner.name}" th:href="@{/person/read/(id=${yard.owner.id})}"></a></p>

        <p th:text="${yard.owner.contactInfo.email}"></p>

        <p th:text="${yard.owner.contactInfo.phone}"></p>

        <p th:text="${yard.owner.contactInfo.address.street}"></p>

        <p th:text="${yard.owner.contactInfo.address.zip}"></p>

        <p th:text="${yard.owner.contactInfo.address.city}"></p>

        <p th:text="${yard.owner.contactInfo.address.zip}"></p>

        <p th:text="${yard.owner.contactInfo.address.state}"></p>

        <div th:unless="${yard.owner == yard.rentReceiver}">
            <h1>Info about yard rent receiver</h1>

            <p th:text="${yard.rentReceiver.name}">name</p>

            <p th:text="${yard.rentReceiver.contactInfo.email}"></p>

            <p th:text="${yard.rentReceiver.contactInfo.phone}"></p>

            <p th:text="${yard.rentReceiver.contactInfo.address.street}"></p>

            <p th:text="${yard.rentReceiver.contactInfo.address.zip}"></p>

            <p th:text="${yard.rentReceiver.contactInfo.address.city}"></p>

            <p th:text="${yard.rentReceiver.contactInfo.address.zip}"></p>

            <p th:text="${yard.rentReceiver.contactInfo.address.state}"></p>
        </div>
    </div>
    <div class = "container">
        <a class="btn btn-danger" th:href="@{/yard/confirmedDelete/{id}(id=${yard.id})}">Confrim Delete</a>
        <a class="btn" th:href="@{/yard/list}">Back to List</a>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>