<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>
<head>
    <title>List Inspection</title> <!-- save your title here -->
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Inspections | <span th:unless="${dropSite == null}" th:text="${dropSite.id}"></span>
        <a th:href="@{/inspection/create/}">
            <span th:unless="${dropSite == null}" th:text="${dropSite.id}"></span>
            <i class="material-icons md-36 add-list-icon" data-toggle="tooltip" title="Add Inspection">
                add_circle_outline
            </i>
        </a>
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Doubles</th>
            <th>Singles</th>
            <th>Visit Date</th>
            <th>Fed</th>
            <th>Medication Used</th>
            <th>Notes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="i : ${inspections}">
            <td><a th:text="${i.id}" th:href="@{/inspection/read/{id}(id=${i.id})}"></a></td>
            <td th:text="${{i.numSingles}}"></td>
            <td th:text="${{i.numDoubles}}"></td>
            <td th:text="${i.visitDate}"></td>
            <td th:text="${{i.fed}}"></td>
            <td th:text="${{i.medication}}"></td>
            <td th:text="${{i.notes}}"></td>
            <td>
                <a th:href="@{/inspection/update/{id}(id=${i.id})}">
                    <i class="material-icons md-36 bee-board-icon" data-toggle="tooltip" title="Delete Inspection">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/inspection/delete/{id}(id=${i.id})}">
                    <i class="material-icons md-36 bee-board-icon" data-toggle="tooltip" title="Delete Inspection">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>