<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title th:text="|#{delete} #{region}|"></title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 th:text="#{areYouSure}"></h2>

    <div>
        <h3 th:text="|Id: ${region.id}|"></h3>

        <h3 th:text="|#{name}: ${region.name}|"></h3>
    </div>
    <a class="btn btn-danger" th:href="@{/region/confirmedDelete/{id}(id = ${region.id})}"
       th:text="|#{confirm} #{delete}|"></a>
    <button type="button" onClick="goBack()" class="btn btn-default" th:text="#{cancel}"></button>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>