<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Company List</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Companies<a class="btn btn-primary btn-md" th:href="@{/company/create}">Create New
        Company</a></h2>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="company : ${allCompanies}">
        <tr>
            <td th:text="${company.id}">ID</td>
            <td th:text="${company.name}">Name</td>
            <td>
                <a th:href="@{/company/update/{id}(id=${company.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Company">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/company/delete/{id}(id=${company.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Company">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>