<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Bee Company</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h1>Bee Company Information</h1>
    <div>
        <h3>ID: <label th:text="${company.id}"></label></h3>
        <h3>Name: <label th:text="${company.name}"></label></h3>
    </div>
    <button type="button" onClick="goBack()" class="btn btn-default">Go Back</button>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>