<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Address</title> <!-- add your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h1>Are you sure you want to delete this record?</h1> <!-- replace with your content -->
    <div>
        <h3>Street: <label th:text="${address.street}"></label></h3>
        <h3>Suite/Apt#: <label th:text="${address.apt}"></label></h3>
        <h3>City: <label th:text="${address.city}"></label></h3>
        <h3>State: <label th:text="${address.state}"></label></h3>
        <h3>Zip: <label th:text="${address.zip}"></label></h3>
    </div>
    <a class="btn btn-danger" th:href="@{/address/confirmedDelete/{id}(id = ${address.id})}">Confirm Delete</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>