<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Addresses</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Addresses |
        <a th:href="@{/address/create}">
            <i class="material-icons md-36 add-list-icon" data-toggle="tooltip"
               title="Add Address">
                add_circle_outline
            </i>
        </a>
    </h2>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>Street</th>
            <th>Suite/Apt</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody th:each="address : ${addresses}">
        <tr>
            <td th:text="${address.street}">Street</td>
            <td th:text="${address.apt}">Apt.</td>
            <td th:text="${address.city}">City</td>
            <td th:text="${address.state}">State</td>
            <td th:text="${address.zip}">Zip</td>
            <td>
                <a th:href="@{/address/update/{id}(id=${address.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Address">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/address/delete/{id}(id=${address.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Address">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>