<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title th:text="|#{create} #{contact}|"></title> <!-- add your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 th:text="|#{create} #{contact}|"></h2>

    <form action="#" th:action="@{/contactInfo/create}" th:object="${contactInfo}" method="post"
          class="form-horizontal">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label" th:text="#{email}"></label>

            <div class="col-sm-10">
                <input th:field="*{email}" type="email" class="form-control" id="email"
                       placeholder="Email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label" th:text="#{phone}"></label>

            <div class="col-sm-10">
                <input th:field="*{phone}" type="text" class="form-control" id="phone"
                       placeholder="Phone"/>
            </div>
        </div>

        <div class="form-group">
            <label for="street" class="col-sm-2 control-label" th:text="#{street}"></label>

            <div class="col-sm-10">
                <input th:field="*{address.street}" type="text" class="form-control" id="street"
                       placeholder="Street"/>
            </div>
        </div>

        <div class="form-group">
            <label for="apt" class="col-sm-2 control-label" th:text="#{apartment}"></label>

            <div class="col-sm-10">
                <input th:field="*{address.apt}" type="text" class="form-control" id="apt"
                       placeholder="Suite/Apartment#"/>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="col-sm-2 control-label" th:text="#{city}"></label>

            <div class="col-sm-10">
                <input th:field="*{address.city}" type="text" class="form-control" id="city"
                       placeholder="City"/>
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="col-sm-2 control-label" th:text="#{state}"></label>

            <div class="col-sm-10">
                <input th:field="*{address.state}" type="text" class="form-control" id="state"
                       placeholder="State"/>
            </div>
        </div>

        <div class="form-group">
            <label for="zip" class="col-sm-2 control-label" th:text="#{zip}">Zip</label>

            <div class="col-sm-10">
                <input th:field="*{address.zip}" type="text" class="form-control" id="zip"
                       placeholder="Zip"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{create}">Create</button>
                <button type="button" onClick="goBack()" class="btn btn-default" th:text="#{cancel}">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>