<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Contact List</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Contacts <a class="btn btn-primary btn-md" th:href="@{/contactInfo/create}">Create New
        Contact</a></h2>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="contactInfo : ${contactInfos}">
        <tr>
            <td th:text="${contactInfo.email}">Email</td>
            <td th:text="${contactInfo.phone}">Phone</td>
            <td th:text="${contactInfo.address}">Address</td>
            <td>
                <a th:href="@{/contactInfo/update/{id}(id=${contactInfo.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Contact Info">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/contactInfo/delete/{id}(id=${contactInfo.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Contact Info">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>