<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title th:text="|#{list} #{contacts}|">Contact List</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 class="list-header" th:text="|#{contacts} #{pipe}|"></h2>
    <a th:href="@{/contactInfo/create}">
        <i class="material-icons md-36 add-list-icon" data-toggle="tooltip"
           title="Add Contact">
            add_circle_outline
        </i>
    </a>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th th:text="#{email}"></th>
            <th th:text="#{phone}"></th>
            <th th:text="#{address}"></th>
            <th th:text="#{edit}"></th>
            <th th:text="#{delete}"></th>
        </tr>
        </thead>
        <tbody th:each="contactInfo : ${contactInfos}">
        <tr>
            <td th:text="${contactInfo.email}">Email</td>
            <td th:text="${contactInfo.phone}">Phone</td>
            <td th:text="${contactInfo.address}">Address</td>
            <td>
                <a th:href="@{/contactInfo/update/{id}(id=${contactInfo.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Contact Info">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/contactInfo/delete/{id}(id=${contactInfo.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Contact Info">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>