<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title th:text="|#{read} #{contact}|"></title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 th:text="#{contact}"></h2>

    <div>
        <h3 th:text="|#{email}: ${contactInfo.email}|"></h3>

        <h3 th:text="|#{phone}: ${contactInfo.phone}|"></h3>

        <h3 th:text="|#{street}: ${contactInfo.address.street}|"></h3>

        <h3 th:text="|#{apartment}: ${contactInfo.address.apt}|"></h3>

        <h3 th:text="|#{city}: ${contactInfo.address.city}|"></h3>

        <h3 th:text="|#{state}: ${contactInfo.address.state}|"></h3>

        <h3 th:text="|#{zip}: ${contactInfo.address.zip}|"></h3>
    </div>
    <button type="button" onClick="goBack()" class="btn btn-default" th:text="#{goBack}">Go Back</button>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>