<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Delete Shipment</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Are you sure you want to delete this record?</h2>
    <div>
        <p> Load Number: <span th:text="${shipment.getLoadNum()}">Load Number</span> </p>
        <p> Carrier: <span th:text="${shipment.getCarrier()}">Carrier</span> </p>
        <p> Departure Date: <span th:text="${shipment.getDepartDate()}">Depart Date</span> </p>
        <p> Arrival Date: <span th:text="${shipment.getArrivalDate()}">Arrival Date</span> </p>
        <p> From: <span th:text="${shipment.fromYard.yardName}">from</span> </p>
        <p> To: <span th:text="${shipment.toYard.yardName}">to</span> </p>
        <p> Weight: <span th:text="${shipment.getWeight()}">Weight</span> </p>
        <p> Truck Number: <span th:text="${shipment.getTruckId()}">Truck Id</span> </p>
        <p> Singles Moved <span th:text="${shipment.singleHive}">singles</span> </p>
        <p> Doubles Moved <span th:text="${shipment.doubleHive}">doubles</span> </p>
    </div>
    <a class="btn btn-danger" th:href="@{/shipment/confirmedDelete/{id}(id = ${shipment.id})}">Confirm Delete</a>
    <button type="button" onClick="goBack()" class="btn btn-default">Cancel</button>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>