<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>List Shipment</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Shipments
        <a class="btn btn-primary" th:href="@{/shipment/create/}">
            Create a new shipment
        </a>
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>From Yard</th>
            <th>To Yard</th>
            <th>Singles</th>
            <th>Doubles</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="s : ${allShipments}">
            <td th:text="${s.id}">0</td>
            <td><a th:text="${s.fromYard.yardName}" th:href="@{/yard/read/{id}(id=${s.fromYard.id})}">Watson</a></td>
            <td><a th:text="${s.toYard.yardName}" th:href="@{/yard/read/{id}(id=${s.toYard.id})}">Watson</a></td>
            <td th:text="${{s.singleHive}}">in use</td>
            <td th:text="${{s.doubleHive}}">no key</td>
            <td th:text="${{s.status}}">the status</td>
            <td>
                <a th:href="@{/shipment/update/{id}(id=${s.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Shipment">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/shipment/delete/{id}(id=${s.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Shipment">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>