<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>List Shipment</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Shipments |
        <a th:href="@{/shipment/create/}">
            <i class="material-icons md-36 add-list-icon" data-toggle="tooltip"
               title="Add Shipment">
                add_circle_outline
            </i>
        </a>
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Load Number</th>
            <th>Carrier</th>
            <th>From Yard</th>
            <th>To Yard</th>
            <th>Weight</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Truck ID</th>
            <th>Singles</th>
            <th>Doubles</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="s : ${allShipments}">
            <td th:text="${{s.getLoadNum()}}">00</td>
            <td th:text="${{s.getCarrier()}}">None</td>
            <td><a th:text="${s.fromYard.yardName}" th:href="@{/yard/read/{id}(id=${s.fromYard.id})}">Watson</a></td>
            <td><a th:text="${s.toYard.yardName}" th:href="@{/yard/read/{id}(id=${s.toYard.id})}">Watson</a></td>
            <td th:text="${{s.getWeight()}}">00000.00</td>
            <td th:text="${{s.getDepartDate()}}">00/00/0000</td>
            <td th:text="${{s.getArrivalDate()}}">00/00/0000</td>
            <td th:text="${{s.getTruckId()}}">0000000</td>
            <td th:text="${{s.singleHive}}">0000</td>
            <td th:text="${{s.doubleHive}}">0000</td>
            <td th:text="${{s.status}}">status</td>
            <td>
                <a th:href="@{/shipment/update/{id}(id=${s.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Shipment">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/shipment/delete/{id}(id=${s.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Shipment">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>