<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>Delete a Drop </title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <form class="form-horizontal" role="form" action="#" th:action="@{/drop/delete}" th:object="${drop}" method="post">

        <h1>Are you sure you want to delete this drop?</h1>
        <div>
            <h3>ID: <label th:text="${drop.getDropId()}"></label></h3>
            <h3>Date: <label th:text="${drop.getDate()}"></label></h3>
            <h3>Latitude: <label th:text="${drop.getLatitude()}"></label></h3>
            <h3>Longitude: <label th:text="${drop.getLongitude()}"></label></h3>
        </div>
        <a class="btn btn-danger" th:href="@{/owner/confirmedDelete/(id = ${drop.getDropId()})}">Confirm Delete</a>

    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>