<<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>
<head>
    <title>Drop Manager</title> <!-- save your title here -->
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Yards
        <a class="btn btn-primary" href="/drop/create.html" th:href="@{/yard/create/}">
            Create a new yard
        </a>
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="y : ${allDrops}">
            <td th:text="${{drop.getDropId()}}">0</td>
            <td><a th:text="${drop.getDate()}" th:href="@{/drop/read/{id}(id=${drop.getDropId()})}">0000/00/00</a></td>
            <td th:text="${{drop.getLatitude()}}">00.00</td>
            <td th:text="${{drop.getLongitude()}}">no key</td>
            <td><a class="btn btn-xs btn-warning" th:href="@{/drop/update/{id}(id=${drop.getDropId()})}">Update</a></td>
            <td><a class="btn btn-xs btn-danger" th:href="@{/drop/delete/{id}(id=${drop.getDropId()})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>