<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title></title> <!-- save your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">

    <div class="col-md-6">

        <h1>Drop Info</h1>

        <p th:text="${drop.getDropId()}">ID</p>

        <p th:text="${drop.getDate()}">Date</p>

        <p th:text="${drop.getLatitude()}">Latitude</p>

        <p th:text="${drop.getLongitude()}">Longitude</p>

    </div>
    <div class = "container">
        <a class="btn" th:href="@{/drop/list}">Back to List</a>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>