<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>Create a New Drop</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <form class="form-horizontal" action="#" th:action="@{/dropsite/create}" th:object="${dropSite}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" id="principalUser" name="principalUser"
               th:value="${#httpServletRequest.getUserPrincipal().name}"/>

        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Yard: </label>

            <div class="col-sm-10">
                <select class="form-control" th:field="*{dropYard}" id="dropYard">
                    <option th:each="y : ${allYards}" th:value="${y.id}" th:text="${y.yardName}">Yard</option>
                </select>
            </div>
        </div>
        <!-- Date -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Drop Date: </label>

            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{date}" id="date"
                       placeholder="Drop Creation Date"/>
            </div>
        </div>
        <!--Latitude-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="latitude">Latitude: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{latitude}" id="latitude" placeholder="00.00"/>
            </div>
        </div>
        <!--Longitude-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="longitude">Longitude: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{longitude}" id="longitude" placeholder="00.00"/>
            </div>
        </div>
        <!--submit button-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
        <style>
            #mapPlaceholder {
                height: 500px;
                width: 300px;
                margin:0 auto;
            }
        </style>
        <div id="mapPlaceholder"></div>
    </form>
    <p id="error"></p>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var x = document.getElementById("error");
    var map;
    var marker;
    var prevMarker;
    var coords;
    var lat;
    var lng;
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setVals, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function setVals(position) {
        lat = position.coords.latitude;
        lng = position.coords.longitude;
        document.getElementById("latitude").value = lat;
        document.getElementById("longitude").value = lng;
        coords = new google.maps.LatLng(lat, lng);
        var mapOptions = {
            zoom: 15,
            center: coords,
            mapTypeControl: true,
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(
                document.getElementById("mapPlaceholder"), mapOptions
        );
        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
        });
        marker = new google.maps.Marker({
            position: coords,
            map: map,
            title: "Current Location"
        });
    }
    function placeMarker(location) {
        lat = location.lat();
        lng = location.lng();
        setMarkerPosition(marker, lat, lng);
        document.getElementById("latitude").value = location.lat();
        document.getElementById("longitude").value = location.lng();
        infowindow.open(map,marker);
    }
    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred.";
                break;
        }
    }
    function setMarkerPosition(marker, lat, lng) {
        marker.setPosition(
                new google.maps.LatLng(
                        lat,
                        lng)
        );
    }
    google.maps.event.addDomListener(window, 'load', getLocation);
</script>
</body>
</html>