<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>
<head>
    <title>List Drops</title> <!-- save your title here -->
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Drops |  <a th:unless="${yard == null}"  th:href="@{/yard/read/{id}(id=${yard.id})}" th:text="${yard.yardName}"></a>
        <a th:href="@{/dropsite/create/{id}(id=${yard.id})}">
            <i class="material-icons md-36 add-list-icon" data-toggle="tooltip"
               title="Add Drop">
                add_circle_outline
            </i>
        </a>
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Yard</th>
            <th>ID</th>
            <th>Date</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Drop Creator</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Inspect</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="ds : ${allDropSites}">
            <td th:text="${{ds.getDropYard().getYardName()}}">00.00</td>
            <td th:text="${ds.getId()}"></td>
            <td th:text="${ds.getSqlDate()}"></td>
            <td th:text="${{ds.getLatitude()}}"></td>
            <td th:text="${{ds.getLongitude()}}"></td>
            <td th:text="${{ds.getDropUser().getUsername()}}"></td>
            <td>
                <a th:href="@{/dropsite/update/{id}(id=${ds.getId()})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Drop">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/dropsite/delete/{id}(id=${ds.getId()})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Drop">
                        delete
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/inspection/list/{id}(id = ${ds.getId()})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Inspect">
                        visibility
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>