<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>Update Drop</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <form class="form-horizontal" role="form" action="#" th:action="@{/dropsite/update}" th:object="${dropSite}" method="post">

        <input type="hidden"  th:field="*{id}" id="id" th:value="${dropSite}"/>
        <input type="hidden" id="principalUser" name="principalUser" th:value="${#httpServletRequest.getUserPrincipal().name}" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <!--Yard-->
        <div class="form-group">
        <label class="control-label col-sm-2" for="date">Yard: </label>
        <div class="col-sm-10">
            <select class="form-control" th:field="*{dropYard.id}" id="dropYard">
                <option th:each="y : ${allYards}" th:value="${y.id}" th:text="${y.yardName}">Yard</option>
            </select>
        </div>
        </div>
        <!--Date-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Drop Date: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{date}" id="Date" placeholder="Drop Date"
                       th:value="${dropSite.getId()}"/>
            </div>
        </div>
        <!--Latitude-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="latitude">Latitude: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{latitude}" id="latitude" placeholder="00.00"
                       th:value="${dropSite.getLatitude()}"/>
            </div>
        </div>
        <!--Longitude-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="longitude">Longitude: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{longitude}" id="longitude" placeholder="00.00"
                       th:value="${dropSite.getLongitude()}"/>
            </div>
        </div>
        <!--Submit button-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>