<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title th:text="|#{create} #{yard}|">Create Yard</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 th:text="|#{create} #{yard}|">Create Bee Yard</h2>
    <form class="form-horizontal" role="form" action="#" th:action="@{/yard/create}" th:object="${yard}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="form-group">
            <label class="control-label col-sm-2" for="yardName" th:text="|#{yard} #{name}|">Yard Name: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{yardName}" id="yardName" placeholder=""/>
                <td th:if="${#fields.hasErrors('yardName')}" th:errors="*{yardName}">Yard Name Error</td>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="status" th:text="#{status}">Status: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{status}" id="status" placeholder=""/>
                <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</td>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="combo" th:text="#{key}">Combination or Key: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{combo}" id="combo" placeholder="Key or Combo"/>
            </div>
        </div>
        <div class="form-group">
            <label for="street" class="col-sm-2 control-label" th:text="#{street}">Street</label>

            <div class="col-sm-10">
                <input th:field="*{address.street}" type="text" class="form-control" id="street"
                       placeholder="Street"/>
            </div>
        </div>

        <div class="form-group">
            <label for="apt" class="col-sm-2 control-label" th:text="#{apartment}">Suite/Apartment#</label>

            <div class="col-sm-10">
                <input th:field="*{address.apt}" type="text" class="form-control" id="apt"
                       placeholder="Suite/Apartment#"/>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="col-sm-2 control-label" th:text="#{city}">City</label>

            <div class="col-sm-10">
                <input th:field="*{address.city}" type="text" class="form-control" id="city"
                       placeholder="City"/>
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="col-sm-2 control-label" th:text="#{state}">State</label>

            <div class="col-sm-10">
                <input th:field="*{address.state}" type="text" class="form-control" id="state"
                       placeholder="State"/>
            </div>
        </div>

        <div class="form-group">
            <label for="zip" class="col-sm-2 control-label" th:text="#{zip}">Zip</label>

            <div class="col-sm-10">
                <input th:field="*{address.zip}" type="text" class="form-control" id="zip"
                       placeholder="Zip"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="accessNotes" th:text="#{accessNotes}">Access Notes: </label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{accessNotes}" id="accessNotes"
                       placeholder="Access Notes"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="maxHives" th:text="#{maxHives}">Max number of hives: </label>

            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{maxHives}" id="maxHives" placeholder="80"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="owner" th:text="#{owner}">Who owns the land?</label>

            <div class="col-sm-10">
                <select class="form-control" th:field="*{owner.id}" id="owner">
                    <option th:each="o : ${allOwners}" th:value="${o.id}" th:text="${o.person.name}">Guy 1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="rentReceiver" th:text="#{rentPayee}">Who is the rent paid too for this land?</label>

            <div class="col-sm-10">
                <select class="form-control" th:field="*{rentReceiver.id}" id="rentReceiver">
                    <option th:each="p : ${allPeople}" th:value="${p.id}" th:text="${p.name}">Guy 1</option>
                </select>
            </div>
        </div>
        <!--Regions list-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="region" th:text="#{region}">Region</label>

            <div class="col-sm-10">
                <select class="form-control" th:field="*{region.id}" id="region">
                    <option th:each="r : ${allRegions}" th:value="${r.id}" th:text="${r.name}"
                            th:unless="${r.id == yard.region.id}">Region 1
                    </option>
                    <option selected="selected" th:each="r : ${allRegions}" th:value="${r.id}" th:text="${r.name}"
                            th:unless="${r.id != yard.region.id}">Region 1
                    </option>
                </select>
            </div>
        </div>
        <!--longitude-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="longitude" th:text="#{longitude}"></label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{longitude}" id="longitude" placeholder="00.00"/>
            </div>
        </div>
        <!--latitude-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="latitude" th:text="#{latitude}"></label>

            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{latitude}" id="latitude" placeholder="00.00"/>
            </div>
        </div>
        <!--map-->
        <div id="mapPlaceholder" style="height: 500px; margin: 20px;"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{create}">Create</button>
                <button type="button" onClick="goBack()" class="btn btn-default" th:text="#{cancel}">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var x = document.getElementById("error");
    var map;
    var marker;
    var prevMarker;
    var coords;
    var lat;
    var lng;
    var markerImage;
    <!-- Query Device for Location -->
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setVals, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
        markerImage = {
            url: 'http://i.imgur.com/ALU8OuA.png',
            size: new google.maps.Size(45,45),
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(23,45)
        };
    }
    <!-- Sets Latitude and Longitude values -->
    function setVals(position) {
        lat = position.coords.latitude;
        lng = position.coords.longitude;
        document.getElementById("latitude").value = lat;
        document.getElementById("longitude").value = lng;
        coords = new google.maps.LatLng(lat, lng);
        var mapOptions = {
            zoom: 15,
            center: coords,
            mapTypeControl: true,
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(
                document.getElementById("mapPlaceholder"), mapOptions
        );
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });

        marker = new google.maps.Marker({
            position: coords,
            map: map,
            icon: markerImage,
            title: "Current Location"
        });
    }
    function placeMarker(location) {
        lat = location.lat();
        lng = location.lng();
        setMarkerPosition(marker, lat, lng);
        document.getElementById("latitude").value = location.lat();
        document.getElementById("longitude").value = location.lng();
        infowindow.open(map, marker);
    }
    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred.";
                break;
        }
    }
    <!-- This moves the marker on the map when you click -->
    function setMarkerPosition(marker, lat, lng) {
        marker.setPosition(
                new google.maps.LatLng(
                        lat,
                        lng)
        );
    }
    <!-- Add Event Listener to Map -->
    google.maps.event.addDomListener(window, 'load', getLocation);
</script>
</body>
</html>