<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:include="fragments/head :: head">
    <title>Yard Manager</title>
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 >List of Yards</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Combo</th>
            <th>Address</th>
            <th>Zip</th>
            <th>Access Location</th>
            <th>Max Hives</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="y : ${allYards}">
            <td th:text="${{y.id}}">0</td>
            <td th:text="${{y.name}}">Watson</td>
            <td th:text="${{y.status}}">in use</td>
            <td th:text="${{y.combo}}">no key</td>
            <td th:text="${{y.address}}">1 Main St</td>
            <td th:text="${{y.zip}}">55555</td>
            <td th:text="${{y.accessLocation}}">driveway</td>
            <td th:text="${{y.maxHives}}">80</td>
        </tr>
        </tbody>
    </table>
</div>
    <div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#new">
        Create a new yard
    </button>
        <div class="collapse out" id="new">
        <form class="form-horizontal" role="form" action="#" th:action="@{/yard/}" th:object="${yard}" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="id">Id: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:field="*{id}" id="id" placeholder="0"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Yard Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="yard name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="status">Status: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{status}" id="status" placeholder="in use"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="combo">Combination or Key: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{combo}" id="combo" placeholder="mhf key"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="address">Address: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="123 Main St."/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="zip">Zip: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{zip}" id="zip" placeholder="95658"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="accessLocation">Access Location: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{accessLocation}" id="accessLocation" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="maxHives">Max number of hives: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:field="*{maxHives}" id="maxHives" placeholder="80"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer">
    </footer>
</body>
</html>