<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>
<head>
    <script type="text/javascript" th:href="@{/js/yard-table.js}"></script>
    <script>
        function editFormatter(value, row, index) {
            return [
                '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                '<i class="material-icons bee-board-icon">create</i>',
                '</a>'
            ].join('');
        }

        function deleteFormatter(value, row, index) {
            return [
                '<a class="remove ml10 bee-board-icon" href="javascript:void(0)" title="Remove">',
                ' <i class="material-icons bee-board-icon">delete</i>',
                '</a>'
            ].join('');
        }

        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                location.href = "/yard/update/" + row["id"];
            },
            'click .remove': function (e, value, row, index) {
                location.href = "/yard/delete/" + row["id"];
            }
        };
    </script>
    <title th:title="|#{list} #{yards}|">List Yards</title> <!-- save your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2><span th:text="#{yards}">Yards</span> |
        <a th:href="@{/yard/create/}">
            <i class="material-icons md-36 add-list-icon" data-toggle="tooltip"
               title="Add Yard">
                add_circle_outline
            </i>
        </a>
    </h2>
    <table id="table-pagination" class="table table-hover" data-toggle="table" data-url="/yard/json" data-cache="false"
           data-pagination="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
           data-search="true">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="yardName" data-sortable="true" th:text="#{name}">Name</th>
            <th data-field="status" data-sortable="true" th:text="#{status}">Status</th>
            <th data-field="combo" data-sortable="true" th:text="#{key}">Combo</th>
            <th data-field="address.street" th:text="#{address}">Address</th>
            <th data-field="accessNotes" data-sortable="true" th:text="#{accessNotes}">Access Notes</th>
            <th data-field="maxHives" data-sortable="true" th:text="#{maxHives}">Max Hives</th>
            <th data-field="owner.person.name" th:text="#{owner}">Owner</th>
            <th data-field="rentReceiver.name" th:text="#{rentPayee}">Pay Rent To</th>
            <th data-field="edit" data-formatter="editFormatter" data-events="operateEvents" th:text="#{edit}">Edit</th>
            <th data-field="delete" data-formatter="deleteFormatter" data-events="operateEvents" th:text="#{delete}">Delete</th>
        </tr>
        </thead>
    </table>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>