<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>
<head>
    <script type="text/javascript" th:href="@{/js/yard-table.js}"></script>
    <title>Yard Manager</title> <!-- save your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Yards
        <a class="btn btn-primary" href="/yard/create.html" th:href="@{/yard/create/}">
            Create a new yard
        </a>
    </h2>
    <table id="table-pagination" class="table table-hover" data-toggle="table" data-url="/yard/json" data-cache="false"
           data-pagination="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
           data-search="true">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="yardName" data-sortable="true">Name</th>
            <th data-field="status" data-sortable="true">Status</th>
            <th data-field="combo" data-sortable="true">Combo</th>
            <th data-field="address.street">Address</th>
            <th data-field="accessNotes" data-sortable="true">Access Notes</th>
            <th data-field="maxHives" data-sortable="true">Max Hives</th>
            <th data-field="owner.name">Owner</th>
            <th data-field="rentReceiver.name">Pay Rent To</th>
            <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Functions</th>
        </tr>
        </thead>
    </table>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>