<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>
<head>
    <title>Yard Manager</title> <!-- save your title here -->
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>List of Yards</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Combo</th>
            <th>Address</th>
            <th>Access Notes</th>
            <th>Max Hives</th>
            <th>Owner</th>
            <th>Pay Rent To</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="y : ${allYards}">
            <td th:text="${{y.id}}">0</td>
            <td><a th:text="${y.name}" th:href="@{/yard/read/(id=${y.id})}">Watson</a></td>
            <td th:text="${{y.status}}">in use</td>
            <td th:text="${{y.combo}}">no key</td>
            <td th:text="${y.address}"></td>
            <td th:text="${{y.accessLocation}}">driveway</td>
            <td th:text="${{y.maxHives}}">80</td>
            <td><a th:text="${(y.owner.name)}" th:href="@{/owner/(id=${y.owner.id})}"></a></td>
            <td><a th:text="${(y.rentReceiver.name)}" th:href="@{/owner/(id=${y.rentReceiver.id})}"></a></td>
            <td><a th:href="@{/yard/update/(id=${y.id})}">
                <button class="btn">Update</button>
            </a></td>
            <td><a th:href="@{/yard/delete/(id=${y.id})}">
                <button class="btn">Delete</button>
            </a></td>
        </tr>
        </tbody>
    </table>
    <a href="/yard/create.html" th:href="@{/yard/create/}">
        <button type="button" class="btn btn-info">
            Create a new yard
        </button>
    </a>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>