<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title></title> <!-- save your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <form class="form-horizontal" role="form" action="#" th:action="@{/yard/update}" th:object="${yard}" method="post">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" th:field="*{id}" id="id" placeholder="id" th:value="${yard.id}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Yard Name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="yard name" th:value="${yard.name}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="status">Status: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{status}" id="status" placeholder="in use" th:value="${yard.status}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="combo">Combination or Key: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{combo}" id="combo" placeholder="mhf key" th:value="${yard.combo}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="address">Address: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="123 Main St." th:value="${yard.address}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="zip">Zip: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{zip}" id="zip" placeholder="95658" th:value="${yard.zip}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="accessLocation">Access Location: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{accessLocation}" id="accessLocation" placeholder="" th:value="${yard.accessLocation}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="maxHives">Max number of hives: </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{maxHives}" id="maxHives" placeholder="80" th:value="${yard.maxHives}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="owner">Who owns the land?</label>
            <div class="col-sm-10">
                <select class="form-control" th:field="*{owner.id}" id="owner">
                    <option th:each="p : ${allPeople}" th:value="${p.id}" th:text="${p.name}" th:unless="${p.id == yard.owner.id}">Guy 1</option>
                    <option selected="selected" th:each="p : ${allPeople}" th:value="${p.id}" th:text="${p.name}" th:unless="${p.id != yard.owner.id}">Guy 1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="rentReceiver">Who is the rent paid too for this land?</label>
            <div class="col-sm-10">
                <select class="form-control" th:field="*{rentReceiver.id}" id="rentReceiver">
                    <option th:each="p : ${allPeople}" th:value="${p.id}" th:text="${p.name}" th:unless="${p.id == yard.owner.id}">Guy 1</option>
                    <option selected="selected" th:each="p : ${allPeople}" th:value="${p.id}" th:text="${p.name}" th:unless="${p.id != yard.owner.id}">Guy 1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>