<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>List Users</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Users |
        <a th:href="@{/user/create}">
            <i class="material-icons md-36 add-list-icon" data-toggle="tooltip"
               title="Add User">
                add_circle_outline
            </i>
        </a>
    </h2>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <td th:text="${user.username}">Username</td>
            <td th:text="${{user.getRoleAsString()}}">Roles</td>
            <td>
                <a th:href="@{/user/update/{id}(id=${user.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit User">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/user/delete/{id}(id=${user.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete User">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
