<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title th:text="|#{read} #{user}|"></title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 th:text="|#{user} Info|"></h2>

    <div>
        <h3 th:text="|#{username}: ${user.username}|"></h3>
    </div>
    <button type="button" onClick="goBack()" class="btn btn-default" th:text="#{goBack}">Go Back</button>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
