<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<body>
<nav th:fragment="header" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Oh, Behive!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <form th:if="${ #httpServletRequest.userPrincipal == null}" th:action="@{/login}" action="#" method="post"
                  class="navbar-form navbar-right">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" th:placeholder="#{username}"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control"
                           th:placeholder="#{password}"/>
                </div>
                <button type="submit" class="btn btn-yellow" th:text="#{signIn}"></button>
            </form>
            <form th:if="${ #httpServletRequest.userPrincipal != null }" th:action="@{/logout}" action="#" method="post"
                  class="navbar-form navbar-right">
                <a th:text="${ #httpServletRequest.userPrincipal.name }" class="label-name">
                    <!--<label th:text="${ #httpServletRequest.userPrincipal.name }"></label>-->
                </a>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn btn-yellow btn-xs" type="submit"><i class="material-icons">power_settings_new</i>
                </button>
            </form>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{mainMenu}">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/person/list}" th:text="#{people}"></a></li>
                        <li><a th:href="@{/address/list}" th:text="#{addresses}"></a></li>
                        <li><a th:href="@{/contactInfo/list}" th:text="#{contacts}"></a></li>
                        <li><a th:href="@{/employee/list}" th:text="#{employees}"></a></li>
                        <li><a th:href="@{/owner/list}" th:text="#{owners}"></a></li>
                        <li><a th:href="@{/role/list}" th:text="#{roles}"></a></li>
                        <li><a th:href="@{/region/list}" th:text="#{regions}"></a></li>
                        <li><a th:href="@{/user/list}" th:text="#{users}"></a></li>
                        <li><a th:href="@{/yard/list}" th:text="#{yards}">Yard List</a></li>
                        <li><a th:href="@{/dropsite/list}" th:text="#{dropSites}"></a></li>
                        <li><a th:href="@{/inspection/list}" th:text="#{inspections}"></a></li>
                        <!--<li><a th:href="@{/company/list}">Companies</a></li>-->
                        <!--<li><a th:href="@{/location/list}">Locations</a></li>-->
                        <li><a th:href="@{/shipment/list}" th:text="#{shipments}"></a></li>
                    </ul>
                </li>
                <li><a th:href="@{/dashboard/beeboard}" th:text="#{beeBoard}"></a></li>
                <li><a th:href="@{/dashboard/pollination}">Pollination</a></li>
                <li><a th:href="@{/dashboard/nucing}">Nucing Board</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
</body>
</html>