<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Employees</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h1>Employees <a class="btn btn-primary btn-md" th:href="@{/employee/create}">Create New
        Employee</a></h1>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="e : ${allEmployees}">
            <tr>
                <td th:text="${e.person.name}">Name</td>
                <td th:text="${e.user.username}">Username</td>
                <td th:text="${e.person.contactInfo.email}">Email</td>
                <td th:text="${e.person.contactInfo.phone}">Phone</td>
                <td th:text="${e.person.contactInfo.address}">Address</td>
                <td>
                    <a class="btn btn-xs btn-warning" th:href="@{/employee/update/{id}(id=${e.id})}">Update</a>
                    <a class="btn btn-xs btn-danger" th:href="@{/employee/delete/{id}(id=${e.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>