<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>List Employees</title> <!-- TODO: Internationalization -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Employees |
        <a th:href="@{/employee/create}">
            <i class="material-icons md-36 add-list-icon" data-toggle="tooltip"
               title="Add Employee">
                add_circle_outline
            </i>
        </a>
    </h2>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th th:text="#{name}"></th>
            <th th:text="#{username}"></th>
            <th th:text="#{email}"></th>
            <th th:text="#{phone}"></th>
            <th th:text="#{address}"></th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody th:each="employee : ${allEmployees}">
        <tr>
            <td th:text="${employee.person.name}">Name</td>
            <td th:text="${employee.user.username}">Username</td>
            <td th:text="${employee.person.contactInfo.email}">Email</td>
            <td th:text="${employee.person.contactInfo.phone}">Phone</td>
            <td th:text="${employee.person.contactInfo.address}">Address</td>
            <td>
                <a th:href="@{/employee/update/{id}(id=${employee.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Employee">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/employee/delete/{id}(id=${employee.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Employee">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>