<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Employee</title> <!-- add your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h1>Employee</h1> <!-- replace with your content -->
    <form action="#" th:action="@{/employee/updateEmployee/{id}(id=${employee.id})}" th:object="${employee}" method="post" class="form-horizontal">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
                <input th:field="*{person.name}" th:value="${employee.person.name}" type="text" class="form-control" id="name"
                       placeholder="Name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>

            <div class="col-sm-10">
                <input th:field="*{user.username}" th:value="${user.username}" type="email" class="form-control"
                       id="username"
                       placeholder="Username (email)"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input th:field="*{user.password}" type="password" class="form-control" id="password"
                       placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input th:field="*{person.contactInfo.email}" th:value="${person.contactInfo.email}" type="email"
                       class="form-control" id="email"
                       placeholder="Email"/>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>

            <div class="col-sm-10">
                <input th:field="*{person.contactInfo.phone}" th:value="${person.contactInfo.phone}" type="tel"
                       class="form-control" id="phone" placeholder="Phone"/>
            </div>
        </div>

        <div class="form-group">
            <label for="street" class="col-sm-2 control-label">Street</label>

            <div class="col-sm-10">
                <input th:field="*{person.contactInfo.address.street}" th:value="${person.contactInfo.address.street}"
                       type="text" class="form-control" id="street"
                       placeholder="Street"/>
            </div>
        </div>

        <div class="form-group">
            <label for="apt" class="col-sm-2 control-label">Suite/Apartment#</label>

            <div class="col-sm-10">
                <input th:field="*{person.contactInfo.address.apt}" th:value="${person.contactInfo.address.apt}" type="text"
                       class="form-control" id="apt"
                       placeholder="Suite/Apartment#"/>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">City</label>

            <div class="col-sm-10">
                <input th:field="*{person.contactInfo.address.city}" th:value="${person.contactInfo.address.city}" type="text"
                       class="form-control" id="city"
                       placeholder="City"/>
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="col-sm-2 control-label">State</label>

            <div class="col-sm-10">
                <input th:field="*{person.contactInfo.address.state}" th:value="${person.contactInfo.address.state}"
                       type="text" class="form-control" id="state"
                       placeholder="State"/>
            </div>
        </div>

        <div class="form-group">
            <label for="zip" class="col-sm-2 control-label">Zip</label>

            <div class="col-sm-10">
                <input th:field="*{person.contactInfo.address.zip}" th:value="${employee.person.contactInfo.address.zip}" type="text"
                       class="form-control" id="zip"
                       placeholder="Zip"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-warning">Update</button>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>