<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Bee Board</title> <!-- add your title here -->
</head>
<body>
<script>
    $('.table > tr').click(function () {
        alert(this.value);
    });

    $(function () {
        $(".clickableRow").on("click", function () {
            alert("abc " + this.value);
        });
    });
</script>
<header th:replace="fragments/header :: header"></header>
<div class="row dashboard-row">
    <div class="col-md-2 hidden-xs hidden-sm">
        <div class="left-sidebar-div">
            <h3>Hives</h3>
            <hr/>
            <h4 th:text="'Singles: ' + ${beeBoard.getTotalSingles()}">Singles: </h4>
            <h4 th:text="'Doubles: ' + ${beeBoard.getTotalDoubles()}">Doubles: </h4>
            <h4 th:text="'Totals: '  + ${beeBoard.getTotalHives()}">Total: </h4>
        </div>
    </div>
    <div class="col-md-8">
        <div align="center">
            <i class="material-icons md-36 bee-board-icon">add_circle_outline</i>
            <i class="material-icons md-36 bee-board-icon">create</i>
            <i class="material-icons md-36 bee-board-icon">delete</i>
            <b class="material-icons md-48 bee-board-icon">|</b>
            <i class="material-icons md-36 bee-board-icon">person_outline</i>
            <i class="material-icons md-36 bee-board-icon">place</i>
            <i class="material-icons md-36 bee-board-icon">send</i>
        </div>
        <hr/>
        <div>
            <h1>This is where the specific yard will go!</h1>

            <p id="name"></p>

            <p id="status"></p>

            <p id="combo"></p>

            <p><span id="street"></span> <span id="city"></span> <span id="state"></span> <span id="zip"></span></p>
        </div>
        <hr/>
        <div>
            <table class="table table-condensed table-responsive" id="yard-table" data-toggle="table"
                   data-url="/yard/json" data-cache="false"
                   data-pagination="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                   data-search="true">
                <caption align="center">Active Yards</caption>
                <thead>
                <tr>
                    <th data-field="yardName" data-sortable="true">Name</th>
                    <th data-field="address.street" data-sortable="true">Address</th>
                    <th data-field="owner.name" data-sortable="true">Owner</th>
                    <th data-field="rentReceiver.name" data-sortable="true">Pay Rent To</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <div class="right-sidebar-div" >
            <h3>Active Shipments</h3>
            <hr/>
            <h3 align="center" th:text="${beeBoard.getActiveShipments()}">10</h3>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script>
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
            '<i class="material-icons bee-board-icon">create</i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
            ' <i class="material-icons bee-board-icon">delete</i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            location.href = "/yard/update/" + row["id"];
        },
        'click .remove': function (e, value, row, index) {
            location.href = "/yard/delete/" + row["id"];
        }
    };

    $(function () {
        $('#yard-table').bootstrapTable({}).on('click-row.bs.table', function (e, row, $element) {
            //alert('Event: click-row.bs.table, data: ' + JSON.stringify(row));
            $("#name").text(row["yardName"]);
            $("#status").text(row["status"]);
            $("#combo").text(row["combo"]);
            var address = row["address"];
            $("#street").text(address["street"]);
            $("#city").text(address["city"]);
            $("#state").text(address["state"]);
            $("zip").text(address["zip"]);
        });
    });
</script>
</body>
</html>