<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Nucing Board</title>
    <link rel="stylesheet" th:href="@{/css/nucing.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css"/>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: '/nucing/events'
            })
        });
    </script>

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="row">
    <!-- Start Left Side Bar-->
    <div class="col-md-3" style="background-color: aliceblue;">
        <!-- Stats go here -->
        Some Stats will go over here
    </div>
    <!-- End Left Side Bar -->

    <!-- Start Center Panel -->
    <div class="col-md-6">
        <div id='calendar'></div>
        <!-- Calandar -->
        <!-- Table -->
    </div>
    <!-- End Center Panel -->

    <!-- Start Right Side Bar-->
    <div class="col-md-3" style="background-color: aliceblue;">
        <!-- Draggable elements go here -->
        This is a sidebar
    </div>
    <!-- End Right Side Bar -->
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>