<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <script type="text/javascript" th:href="@{/js/pollination-board.js}"></script>
    <title>Pollination Board</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Orchard Name</th>
                    <th>Progress</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <!--/*@thymesVar id="contracts" type="java.util.ArrayList"*/-->
                <tr th:each="c : ${contracts}">
                    <td th:text="${c.id}">0</td>
                    <td th:text="${c.yardName}"></td>
                    <td th:text="${c.progress}">in use</td>
                    <td><a class="btn btn-xs btn-warning" th:href="@{/yard/update/{id}(id=${y.id})}">Update</a></td>
                    <td><a class="btn btn-xs btn-danger" th:href="@{/yard/delete/{id}(id=${y.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>