.label-name {
    font-family: sans-serif;
    font-size: large;
    color: white;
    display: inline-block;
    margin-right: 5px;
}

.bee-color {
    color: #C9C9C9;
}

a:hover {
    color: yellow;
}

.add-list-icon {
    overflow: hidden;
    margin: 0 0 -8px 0;
}

.navbar-header > a:hover {
    color: yellow;
}

.inline-div {
    display: inline;
    margin: 5px;
}

.inline-checks {
    margin: 50px;
}

.selected {
    background-color: brown;
    color: #FFF;
}

.in-side-div {
    margin: 10px;
}
.side-div {
    // background-color: linen;
    border-style: solid;
    border-color: #C9C9C9;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.right-sidebar-div {
    margin: 27px 20px 40px 0;
}

.left-sidebar-div {
    margin: 27px 0 40px 20px;
}

.bee-board-icon {
    width: 12%;
}

.dashboard-row {
    margin: 0 0 0 0;
}

.btn-yellow {
    background-color: yellow;
}

.btn-black {
    background: black;
    color: yellow;
}
.list-header {
    display: inline-block;
}

.auto {
    table-layout: auto;
}

.pane {
    margin-top: 10px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
