hr {
    border: 1px solid #C9C9C9;
}

a {
    color: blue;
}

a:hover {
    cursor:hand;
}

i   {
    color:black;
}

i:hover{
    color:yellow;
    cursor:hand;
}

#mapPlaceholder {}

#map-div {
    display: none;
    height: 300px;
    /*width: 300px;*/
    margin:0 auto;
}

.modal-dialog {
    width: 50%;
}