<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <title>Owner Delete</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <form class="form-horizontal" role="form" action="#" th:action="@{/owner/delete}" th:object="${owner}" method="post">

        <h1>Are you sure you want to delete this owner?</h1>
        <div>
            <h3>Name: <label th:text="${owner.name}"></label></h3>
            <h3>Email: <label th:text="${owner.contactInfo.email}"></label></h3>
            <h3>Phone: <label th:text="${owner.contactInfo.phone}"></label></h3>
            <h3>Street: <label th:text="${owner.contactInfo.address.street}"></label></h3>
            <h3>City: <label th:text="${owner.contactInfo.address.city}"></label></h3>
            <h3>State: <label th:text="${owner.contactInfo.address.state}"></label></h3>
            <h3>Zip: <label th:text="${owner.contactInfo.address.zip}"></label></h3>
        </div>
        <a class="btn btn-danger" th:href="@{/owner/confirmedDelete/(id = ${owner.id})}">Confirm Delete</a>

    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>