<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: head"></head>
<head>
    <title>List Owners</title> <!-- add your title here -->
</head>
<body>
<header th:replace="fragments/header :: header">
</header>

<div class="container">
    <h2>Owners
        <a class="btn btn-primary"  th:href="@{/owner/create}">
                Create a new owner
        </a>
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="#{name}"></th>
            <th th:text="#{phone}"></th>
            <th th:text="#{email}"></th>
            <th th:text="#{address}"></th>
            <th th:text="#{city}"></th>
            <th th:text="#{state}"></th>
            <th th:text="#{zip}"></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="owner : ${allOwners}">
            <td th:text="${{owner.id}}">0</td>
            <td><a th:text="${(owner.name)}" th:href="@{/owner/read/(id=${owner.id})}"></a></td>
            <td th:text="${{owner.contactInfo.phone}}">555-555-5555</td>
            <td th:text="${{owner.contactInfo.email}}">xxxx@gmail.com</td>
            <td th:text="${{owner.contactInfo.address.street}}">1 Main St</td>
            <td th:text="${{owner.contactInfo.address.city}}">Sacramento</td>
            <td th:text="${{owner.contactInfo.address.state}}">CA</td>
            <td th:text="${{owner.contactInfo.address.zip}}">12345</td>
            <td>
                <a th:href="@{/owner/update/(id=${owner.id})}" th:text="#{update}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Owner">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/owner/delete/(id=${owner.id})}" th:text="#{delete}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Owner">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>