<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>People</title> <!-- add your title here -->
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h1>People</h1> <!-- replace with your content -->
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody th:each="person : ${people}">
            <tr>
                <td th:text="${person.name}">Shit</td>
                <td th:text="${person.contactInfo.email}">Shat</td>
                <td th:text="${person.contactInfo.phone}">Shut</td>
                <td th:text="${person.contactInfo.address}">Shoot</td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>