<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title th:text="|#{read} #{person}|"></title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2 th:text="#{person}"></h2>

    <div>
        <h3 th:text="|#{name}: ${person.name}|"></h3>

        <h3 th:text="|#{email}: ${person.contactInfo.email}|"></h3>

        <h3 th:text="|#{phone}: ${person.contactInfo.phone}|"></h3>

        <h3 th:text="|#{street}: ${person.contactInfo.address.street}|"></h3>

        <h3 th:text="|#{apartment}: ${person.contactInfo.address.apt}|"></h3>

        <h3 th:text="|#{city}: ${person.contactInfo.address.city}|"></h3>

        <h3 th:text="|#{state}: ${person.contactInfo.address.state}|"></h3>

        <h3 th:text="|#{zip}: ${person.contactInfo.address.zip}|"></h3>
    </div>
    <button type="button" onClick="goBack()" class="btn btn-default" th:text="#{goBack}">Go Back</button>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>