<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>Delete Company</title>
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">

    <h1>Are you sure you want to delete this Company?</h1>

    <div>
        <h3>Name: <label th:text="${location.name}"></label></h3>
        <h3>Email: <label th:text="${location.contactInfo.email}"></label></h3>
        <h3>Phone: <label th:text="${location.contactInfo.phone}"></label></h3>
        <h3>Street: <label th:text="${location.contactInfo.address.street}"></label></h3>
        <h3>City: <label th:text="${location.contactInfo.address.city}"></label></h3>
        <h3>State: <label th:text="${location.contactInfo.address.state}"></label></h3>
        <h3>Zip: <label th:text="${location.contactInfo.address.zip}"></label></h3>
    </div>
    <a class="btn btn-danger" th:href="@{/location/confirmedDelete/{id}(id = ${location.id})}">Confirm Delete</a>
    <button onClick="goBack()" class="btn btn-default">Cancel</button>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>