<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<head>
    <title>List Location</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Locations<a class="btn btn-primary btn-md" th:href="@{/location/create}">Create New
        Location</a></h2>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="location : ${allLocations}">
        <tr>
            <td th:text="${location.id}">ID</td>
            <td th:text="${location.name}">Name</td>
            <td th:text="${location.contactInfo.email}">Email</td>
            <td th:text="${location.contactInfo.phone}">Phone</td>
            <td th:text="${location.contactInfo.address}">Address</td>
            <td>
                <a th:href="@{/location/update/{id}(id=${location.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Edit Location">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a th:href="@{/location/delete/{id}(id=${location.id})}">
                    <i class="material-icons md-24 bee-board-icon" data-toggle="tooltip" title="Delete Location">
                        delete
                    </i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>